In [17]:
# Dependencies
from bs4 import BeautifulSoup
import requests
import pymongo
from splinter import Browser
import pandas as pd

In [3]:
response = requests.get('https://mars.nasa.gov/news/')

In [4]:
soup = BeautifulSoup(response.text, 'html.parser')
# print(soup.prettify())

In [5]:
slide = soup.find('div',class_='slide')
news_title = slide.find('div',class_='content_title').text.strip()
print(news_title)
news_p = slide.find('div',class_='rollover_description_inner').text.strip()
print(news_p)

NASA's InSight Places First Instrument on Mars
In deploying its first instrument onto the surface of Mars, the lander completes a major mission milestone.

In [6]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [7]:
browser.visit('https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars')
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
browser.click_link_by_partial_text('FULL IMAGE')

In [8]:
html = browser.html
soup = BeautifulSoup(html, 'html.parser')
url = soup.find('img', class_='fancybox-image')['src']
url = 'https://www.jpl.nasa.gov'+url
print(url)

https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA20263_ip.jpg

In [9]:
soup = BeautifulSoup(requests.get('https://twitter.com/marswxreport?lang=en').text, 'html.parser')

In [10]:
mars_weather =  soup.find('div', class_='js-tweet-text-container').text.strip()
print(mars_weather)

Sol 2288 (2019-01-12), high -7C/19F, low -68C/-90F, pressure at 8.23 hPa, daylight 06:45-18:55pic.twitter.com/Or8q1l3tka

In [19]:
tables = pd.read_html('https://space-facts.com/mars/')
tables[0]

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers